<div class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-8 ml-md-3">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Make A Deposit</h4>
            <p class="card-category">New Deposit</p>
          </div>
          <div class="card-body" >

<%= render 'form', deposit: @deposit %>

</div>
</div>
</div>
</div>
</div>
